@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  justify-items: center;
  align-items: center;
  margin: auto;
  max-width: 400px;
  text-align: center;
  display: grid;
  background-color: white;
  font-family: "Montserrat", Arial, sans-serif;
}

img {
  max-height: 150px;
  border-radius: 7px;
  margin-left: 20px;
}

h2 {
  border-bottom: 2px black;
}

p {
  font-style: italic;
  font-size: smaller;
}

header {
  margin-top: 1em;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 14px;
  background-color: tomato;
  max-width: 500px;
  align-items: center;
  justify-items: center;
  border-radius: 12px;
  padding: 12px;
  display: grid;
  color: whitesmoke;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-top: 1px black;
  border-bottom: 1px black;
}

footer {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: tomato;
  color: whitesmoke;
  border-radius: 12px;
  padding: 10px;
}
