@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  background-color: #d34e24;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  background-color: #38726c;
  border-radius: 7px;
}

header,
#footer2 {
  background-color: black;
  border-radius: 12px;
  padding: 5px 0;
  max-width: 99%;
  margin: 0 auto;
  border-bottom: 1px solid #bbb;
}

#hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#herowelcome {
  background-color: #f28123;
  position: absolute;
  padding: 10px;
  border-radius: 0px 15px 15px 0px;
}

#heroJoin {
  background-color: #f28123;
  position: absolute;
  color: black;
  top: 490px;
  right: 30%;
  padding: 10px;
  border-radius: 15px 15px 15px 15px;
  text-decoration: underline;
}

.small {
  display: none;
}

main {
  max-width: 94%;
  margin: 0 auto;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo,
.footer-logo {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.logo img {
  width: 80px;
  height: auto;
  border-radius: 7px;
}

#footer2 img {
  width: 100px;
  height: auto;
  border-radius: 7px;
}

.headings {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

#discoverh2 {
  padding-top: 50px;
  padding-bottom: 60px;
  text-align: center;
  margin: 0 auto;
  align-items: center;
}

.headings h1 {
  font-size: 1.5rem;
}

.social {
  margin-right: 1.5rem;
}

.social svg {
  width: 25px;
  height: auto;
}

.navigation li:not(:first-child) {
  display: none;
}

.responsive li:not(:first-child) {
  display: block;
}

.gray-box {
  min-height: 200px;
  width: 100%;
  max-width: 800px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  margin: 0 auto;
}

.grayBoxInfo {
  padding-left: 10px;
  padding-right: 10px;
}

#join {
  display: none;
}

#outside-box {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h3 {
  text-align: center;
  padding-top: 10px;
}

#contactH3 {
  padding-top: 0px;
}

.tucker {
  padding-left: 10px;
  padding-right: 10px;
}

#submit {
  margin-top: 35px;
}

#contactQ {
  margin-top: 45px;
}

#footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headings,
a,
#header-footer-date,
#footer-h2,
.footer-p {
  color: white;
}

#footer-h2,
.footer-p {
  font-size: smaller;
}

label {
  padding-top: 13px;
  display: block;
}

fieldset {
  border: 2px solid white;
}

textarea {
  margin-left: -10px;
  overflow: auto;
  width: 100%;
  max-width: 100%;
}

.price {
  color: white;
  background-color: #d34e24;
  padding: 0 5px;
  border-radius: 5px;
}

.thank-you img {
  display: block;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  border: 2px solid rgb(219, 220, 226);
}

.big {
  font-size: xx-large;
  text-align: center;
  padding: 0.5rem;
  margin: 10px;
}

.glad {
  border: 2px solid rgba(45, 49, 66, 1);
  padding: 0.5rem;
  margin: 10px;
}

#business-desc {
  grid-column: 1 / 3;
}

#join-header {
  text-align: center;
}

.joinBtn {
  background-color: #f28123;
  padding: 10px;
  border-radius: 15px 15px 15px 15px;
  text-decoration: underline;
}

.input {
  display: block;
  border-radius: 5px;
  padding: 9px;
}

.contactinput {
  margin: 0 auto;
}

.input:required {
  border-left: 5px solid red;
}

.input:required:valid {
  border-left: 5px solid green;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.navigation a::before {
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  background-color: #fff;
  margin-bottom: 10px;
}
.navigation a:hover::before {
  width: 100%;
  transition: all 0.5s;
}

.joinBtn {
  color: black;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 1.2rem;
}

#footer-info {
  margin-left: 15px;
}

#header-footer-date {
  margin-right: 15px;
  display: flex;
}

.logo {
  margin-top: 15px;
}

#contact-info {
  margin-right: 15px;
}

#bottom {
  text-align: center;
}

#google-maps img {
  width: 50px;
  height: auto;
  margin-top: 25px;
  margin-left: 10px;
}

.eaglemountain img {
  width: 100%;
}

#discovercontent img {
  width: 75%;
  border-radius: 7px;
  border: 1px solid #ccc;
}

#discovercontent img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.discpicp {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 75%;
}

.bannertext {
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 12px;
  margin: 0 auto;
}

.mainDirectory {
  display: block;
  text-align: center;
}

.mainDirectory div.grid section {
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid 1px black;
  border-radius: 9px;
  width: 260px;
  background-color: #f28123;
  box-shadow: 5px 5px 5px #999;
}

.mainDirectory div.list section {
  justify-content: space-around;
  align-items: center;
  background-color: #d34e24;
  max-width: 90%;
  margin: 0 auto;
  border-radius: 9px;
  margin-top: 10px;
  box-shadow: 5px 5px 5px #999;
}

.mainDirectory div.list section:nth-child(even) {
  background-color: #f28123;
}

.mainDirectory div.list section img {
  display: none;
}

.directoryIcons {
  margin: 24px;
}

.gridmenubar,
.listmenubar {
  border: 3px solid black;
  border-radius: 9px;
  padding: 2px;
  width: 48px;
  height: 48px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.gridmenubar {
  margin-right: 10px;
}

.listmenubar {
  margin-left: 10px;
}

.directoryContent {
  margin: 0;
}

.directoryLogo {
  max-width: 180px;
  margin: 1rem auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.list {
  display: block;
}

.grayBoxH2 {
  background-color: #f28123;
  padding: 12px;
  margin: 0;
  text-align: center;
  border-radius: 2px;
}

#weatherConditions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
}

#t {
  font-size: 1.3rem;
}

.weatherP {
  text-align: center;
}

#weather {
  padding-bottom: 10px;
}

p {
  text-align: center;
}

.grayBoxImg {
  display: block;
  padding: 10px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
