@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  background-color: #d34e24;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  background-color: #38726c;
  border-radius: 7px;
}

header,
#footer2 {
  background-color: black;
  border-radius: 12px;
  padding: 5px 0;
  max-width: 900px;
  margin: 0 auto;
  border-bottom: 1px solid #bbb;
}

main {
  max-width: 850px;
  margin: 0 auto;
  font-size: smaller;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo,
.footer-logo {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.logo img {
  width: 80px;
  height: auto;
  border-radius: 7px;
}

#footer2 img {
  width: 100px;
  height: auto;
  border-radius: 7px;
}

.headings {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

#discoverh1 {
  padding-top: 50px;
  padding-bottom: 60px;
  text-align: center;
  margin: 0 auto;
  align-items: center;
}

.headings h1 {
  font-size: 1.5rem;
}

.social {
  margin-right: 1.5rem;
}

.social svg {
  width: 25px;
  height: auto;
}

.navigation li:not(:first-child) {
  display: none;
}

.responsive li:not(:first-child) {
  display: block;
}

.gray-box {
  height: 200px;
  width: 100%;
  max-width: 800px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  margin: 0 auto;
}

#join {
  display: none;
  margin-bottom: 20px;
}

#inner-box3 {
  display: none;
}

#outside-box {
  height: 400px;
  width: 100%;
  max-width: 800px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

#news {
  margin-bottom: 20px;
}

#inner-box1,
#inner-box2,
#inner-box3 {
  height: 45%;
  width: 97%;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  margin: auto;
}

#footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headings,
a,
#header-footer-date,
#footer-h2,
.footer-p {
  color: white;
}

#footer-h2,
.footer-p {
  font-size: smaller;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.navigation a::before {
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  background-color: #fff;
  margin-bottom: 10px;
}
.navigation a:hover::before {
  width: 100%;
  transition: all 0.5s;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 0.9rem;
}

#footer-info {
  margin-left: 15px;
}

#header-footer-date {
  margin-right: 15px;
  display: flex;
}

.logo {
  margin-top: 15px;
}

#contact-info {
  margin-right: 15px;
}

#bottom {
  text-align: center;
}

#google-maps img {
  width: 50px;
  height: auto;
  margin-top: 25px;
  margin-left: 10px;
}

.banner {
  position: relative;
  margin: 0 auto;
  max-width: 850px;
}

.bannercontent {
  margin: 0 auto;
  border-radius: 12px;
}

.bannercontent img {
  width: 100%;
}

#discovercontent img {
  width: 75%;
  border-radius: 7px;
  border: 1px solid #ccc;
}

.bannercontent img,
#discovercontent img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.discpicp {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 75%;
}

.bannertext {
  position: absolute;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  top: 2%;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 12px;
  margin: 0 auto;
  max-width: 65%;
}
